**:Zone.Identifier
**/not_used
**/old

#plotting
*.png
*.pkl


#results 
scripts/results*
!scripts/results_field/.gitkeep 
!scripts/results_flowonly/.gitkeep 
*.npz
*.npy
*.vtu
*.vtk
*.vtp
*.pvd

# bash
*.out
*.err
