*.npz
*.npy
*:Zone.Identifier
not_used/
plots/not_used/
scripts/old/
scripts/test_cluster/*
jobs_field.py
scripts/results_field/*
!scripts/results_field/.gitkeep
scripts/results_flowonly
!scripts/results_flowonly/.gitkeep
scripts/results_field_smalldomain
!scripts/results_field_smalldomain/.gitkeep
scripts/results_singleroot_all
!scripts/results_singleroot_all/.gitkeep
plot_singleroot/*
plots_fieldstudy/*
plots_flowonly/*
scripts/results_flowonly_4cm/*
scripts/results_field_4iter/*
old/*
modules/old/*
inputDataExudate/old/*
not_used/*
scripts/results_singleroot/*