*.npz
*.npy
*:Zone.Identifier
not_used/
plots/not_used/
scripts/old/
scripts/test_results/
jobs_field.py
scripts/results_field/*
!scripts/results_field/.gitkeep
scripts/results_flowonly
!scripts/results_flowonly/.gitkeep
scripts/results_field_smalldomain
!scripts/results_field_smalldomain/.gitkeep
scripts/results_singleroot_all
!scripts/results_singleroot_all/.gitkeep
plot_singleroot/
plots_fieldstudy/

