# build system clutter
build-*
Testing

# auto-saved files
*~

# hidden files
.cproject
.project

# latex clutter
*.pdf
*.aux
*.blg
*.log
*.bbl
*.dvi
*.idx
*.out
*.tdo
*.toc


# something pythoon related
__pycache__
*.pyc
