# build system clutter
build-*

# auto-saved files
*~

# hidden files
.cproject
.project

# latex clutter
*.pdf
*.aux
*.blg
*.log
*.bbl
*.dvi
*.idx
*.out
*.tdo
*.toc

# something python related
*.pyc
__pycache__
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# shared libraries
*.so

# CMake
*.cmake
CMakeFiles
Makefile
CMakeCache.txt

# results 
*.vtu
*.npy
*.vtp
*.pvd

Testing
*.so
src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
test/__pycache__/


# bash
*.out
*.err
